@phone:             ~"only screen and (max-width: 640px)";
@tablet:            ~"only screen and (min-width: 640px)";
@tablet-down:       ~"only screen and (max-width: 740px)";
@desktop-down:      ~"only screen and (max-width: 1080px)";
@large-down:        ~"only screen and (max-width: 1400px)";


