@keyframes jelly {
  25% {
    transform: scale(0.9, 1.1)
  }
  50% {
    transform: scale(1.1, 0.9)
  }
  75% {
    transform: scale(0.95, 1.05)
  }
}

@keyframes spin {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(1turn)
  }
}

@keyframes show-scroll {
  0%, 50%, 100% {
    transform: translateX(0)
  }
  25%, 75% {
    transform: translateX(-10%)
  }
}
