:root {
	--white-color: #fff;
	--pink-color: #EC407A;
	--light-pink-color: #F06292;
	--light-gray-color: #eee;
	--gray-shadow-color: rgba(204,214,228,.6);
	--black-light-shadow-color: rgba(0, 0, 0, 0.3);
	--black-shadow-color: rgba(0, 0, 0, 0.5);
	--light-blue-color: rgb(227, 242, 253);
	--blue-color: rgb(0,100,200);
	--dark-blue-color: rgb(0,80, 160);
}

html {
	font-size: 0.6613756614vw;

	@media @large-down {
		font-size: 0.8vw;
	}

	@media @desktop-down {
		font-size: 1vw;
	}

	@media @tablet-down {
		font-size: 1.5vw;
	}
}

html, body {
	position: relative;
	width: 100%;
	min-height: 100vh;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
