<script context="module" lang="ts">
    let usedScrollSomewhere = false
</script>

<script lang="ts">
    import { onMount } from 'svelte'
    import { fly } from 'svelte/transition'
    import type { CardType } from '../types/card.type'

    export let card: CardType
    let imageIsLoad: boolean = false
    let showTutorial: boolean = false

    onMount((): void => {
        showTutorial = !usedScrollSomewhere
    })

    function handleLoad (event): void {
        imageIsLoad = event.currentTarget.complete
    }

    function handleScroll (): void {
        usedScrollSomewhere = true
        showTutorial = false
    }
</script>

<div
    class="card"
    in:fly="{{ x: 50, duration: 500 }}"
    out:fly="{{ x: 50, duration: 500 }}"
>
    <div
        class="header"
        class:loaded="{imageIsLoad}"
    >
        <img
            on:load={handleLoad}
            class="image"
            loading="lazy"
            crossorigin="anonymous"
            src="https://loremflickr.com/500/500/coffee%20bean?imageId={card.id}"
            alt="{card.blend_name} coffee"
        >
        <div
            class="name"
            class:small="{card.blend_name.length > 17}"
        >
            {card.blend_name}
        </div>
    </div>
    <div class="locations">
        <img class="location-icon" src="/images/location-ico.svg" alt="">
        {card.origin}
    </div>
    <div class="tags" on:scroll|once={handleScroll}>
        <div class="tags-inner" class:animate={showTutorial}>
            {#each card.formatNotes as {text, color}}
                <span class="one-tag" style="background-color:{color}">{text}</span>
            {/each}
        </div>
    </div>
    <div class="info">
        <div class="info-el">
            <div class="info-el-title">Сорт</div>
            {card.variety}
        </div>
        <div class="info-el last">
            <div class="info-el-title">Усилитель</div>
            {card.intensifier}
        </div>
    </div>
</div>

<style lang="less">
    .card {
        background: var(--white-color);
        border-radius: .2rem;
        overflow: hidden;
    }

    .header {
        position: relative;
        line-height: 0;
        padding-top: 80%;

        &.loaded {
            &:before {
                display: none;
            }

            .image {
                opacity: 1;
            }
        }

        &:before {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            position: absolute;
            top: -4rem;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            content: '';
            border: 4px solid var(--light-blue-color);
            clip-path: inset(0 0 50% 0);
            transform: rotate(0);
            transition: opacity .1s linear;
            animation: spin .6s linear infinite;
        }
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity .2s linear;
    }

    .name {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: right;
        color: var(--white-color);
        line-height: 1.4;
        font-size: 2.7rem;
        padding: .5rem 2rem .5rem 1rem;
        background: var(--black-shadow-color);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.small {
            font-size: 2.4rem;
            line-height: 1.575;
        }
    }

    .locations {
        font-size: 1.4rem;
        padding: 1rem 1rem 0.5rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }

    .location-icon {
        width: 2rem;
        margin-right: .5rem;
    }

    .info {
        color: #555;
        display: flex;
        font-size: 1.6rem;
        flex-flow: row nowrap;
        justify-content: center;
        padding: .5rem 0 1rem;
        text-transform: uppercase;

        &-el {
            text-align: center;
            flex: 50% 0 0;
            font-weight: 500;
            box-sizing: border-box;
            border-right: 1px solid var(--light-gray-color);

            &.last {
                border: none;
            }

            &-title {
                font-weight: 300;
                font-size: 1.2rem;
                line-height: 1.4;
            }
        }
    }

    .tags {
        width: 100%;
        overflow-y: scroll;
        scroll-behavior: smooth;
        font-size: 1.6rem;
        line-height: 1.5;
        box-sizing: border-box;
        padding: 1rem .5rem;
        -webkit-overflow-scrolling: touch;
        overscroll-behavior: contain;

        &-inner.animate {
            animation: show-scroll 1.2s ease-out 1.5s;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .one-tag {
        white-space: nowrap;
        margin: 0 .5rem;
        padding: 0 1.2rem;
        border-radius: .6rem;
    }
</style>
