<script lang="ts">
    export let element: HTMLElement
</script>

<footer class="footer" bind:this={element}>
    © 2023
    <a class="footer-link" href="https://t.me/jmunb" target="_blank" rel="noreferrer">Ruban Artem</a>
</footer>

<style lang="less">
    .footer {
      text-align: center;
      line-height: 3rem;

      &-link {
        color: var(--blue-color);
        text-decoration: underline;

        &:visited {
          color:  var(--dark-blue-color);
        }
      }
    }
</style>
