<script lang="ts"></script>

<header class="header">
    <h1>Разновидности кофе</h1>
</header>

<style lang="less">
    .header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        align-self: center;
        background: var(--light-blue-color);
        border-bottom: 1px solid var(--gray-shadow-color);
        text-align: center;
        z-index: 1;
    }

    h1 {
        margin: 0;
        color: var(--pink-color);
        text-transform: uppercase;
        font-size: 4em;
        line-height: 1.8;
        font-weight: 100;
    }
</style>
