<script lang="ts">
    import { createEventDispatcher } from 'svelte'

    const dispatch = createEventDispatcher()
    export let isLoading: boolean

    function handleClick (): void {
        dispatch('btnClick')
    }
</script>

<button
    title="Загрузить карточку"
    class="{$$restProps.class || ''} round-btn"
    on:click={handleClick}
    class:loading="{isLoading}"
    class:isClicked={isLoading}
>
    {#if isLoading}
        <span class="loader"></span>
    {/if}
</button>

<style lang="less">
  .round-btn {
    height: 6rem;
    width: 6rem;
    margin: 0;
    background: var(--pink-color);
    border-radius: 50%;
    box-shadow: 0 .2rem 1rem 0 var(--black-light-shadow-color);
    transition: all .2s ease-out;
    cursor: pointer;
    border: none;

    &:after,
    &:before {
      content: '';
      display: inline;
      position: absolute;
      top: 50%;
      left: 50%;
      background: var(--white-color);
      transform: translate(-50%, -50%);
      border-radius: .2rem;
      opacity: 1;
      transition: opacity .2s linear;
    }

    &:after {
      width: 3rem;
      height: .6rem;
    }

    &:before {
      height: 3rem;
      width: .6rem;
    }

    &.isClicked {
      animation: jelly 0.5s;
    }

    &:hover {
      background: var(--light-pink-color);
      transition: background-color .2s ease-out;
    }

    &.loading {
      &:after,
      &:before {
        opacity: 0;
        transition: opacity .2s linear;
      }

      .loader {
        opacity: .8;
        transition: opacity .2s linear .1s;
      }
    }
  }

  .loader {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    content: '';
    opacity: 0;
    border: 4px solid var(--white-color);
    clip-path: inset(0 0 50% 0);
    transform: rotate(0);
    transition: opacity .2s linear;
    animation: spin .6s linear infinite;
  }
</style>
