<script lang="ts">
	import type { CardType } from './types/card.type'
	import { tick, onMount, onDestroy } from 'svelte'
	import { fetchCard } from './fetch'

	import CoffeeCard from './components/CoffeeCard'
	import RoundBtn from './components/RoundBtn'
	import Footer from './components/Footer'
	import Header from './components/Header'

	const REQUEST_TIMEOUT: number = 30000

	let interval: number
	let footerLink: HTMLElement
	let cards: CardType[] = []
	let lastCard: CardType[] = []
	let isLoading: boolean = false
	let error

	onMount(addOneCard)
	onDestroy((): void => {
		clearInterval(interval)
	})

	function resetInterval (): void {
		if (interval) {
			clearInterval(interval)
		}

		interval = setInterval<number>(addOneCard, REQUEST_TIMEOUT)
	}

	async function addOneCard (): Promise<void> {
		if (isLoading) return

		isLoading = true
		resetInterval()
		lastCard = [await fetchCard<CardType>()]

		setTimeout(() => isLoading = false, 500)
	}

	async function handleClick (): Promise<void> {
		await addOneCard()
		await tick()

		if (footerLink) footerLink.scrollIntoView({
			behavior: 'smooth'
		})
	}

	$: cards = [
		...cards,
		...lastCard
	]
</script>

<Header />
<main>
	<section>
		{#each cards as card}
			<CoffeeCard card={card} />
		{:else}
			<div class="empty">
				Ничего не загружено.
				<div class="small">
					Видимо произошла ошибка, попробуйте загрузить карточку нажав на кнопку справа в углу экрана.
				</div>
			</div>
		{/each}
	</section>
	{#if error}
		<div>{ error }</div>
	{/if}
	<RoundBtn isLoading="{isLoading}" class="add-btn" on:btnClick={handleClick} />
</main>
<Footer bind:element={footerLink}/>

<style lang="less">
	@import './styles/_varaibles';

	:global(body) {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 7.2rem 1fr 3rem;
		grid-gap: 2rem;
		background: var(--light-blue-color);
		justify-items: center;
	}

	main :global(.add-btn) {
		position: fixed;
		bottom: 3rem;
		right: 3rem;
	}

	section {
		padding: 0 1rem;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(25rem, 29rem));
		grid-gap: 1.5rem;
		grid-auto-rows: auto;
		justify-content: center;
		width: 120.5rem;

		@media @desktop-down {
			width: 90rem;
		}

		@media @tablet-down {
			grid-template-columns: repeat(auto-fit, minmax(25rem, 60rem));
			width: 66rem;
		}
	}

	.empty {
		text-align: center;
		font-size: 2rem;
	}

	.small {
		font-size: 1.2rem;
		margin-top: .5rem;
	}
</style>
